<div class="footer-socials">
  <a href="https://www.instagram.com/entre_tais_coisas/"><i class="fa fa-instagram"></i></a>
</div>

<!-- Begin Mailchimp Signup Form -->

<div id="mc_embed_signup">
  <form action="https://entretaiscoisas.us20.list-manage.com/subscribe/post?u=c3ea51aa5d7a4d9c257b6535f&amp;id=572f41df41" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL">Receba nosso conteúdo direto no seu email!</label>
      <div >
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required style="width: 350px;margin: 10px;">
      </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_c3ea51aa5d7a4d9c257b6535f_572f41df41" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </div>
  </form>
</div>

<!--End mc_embed_signup-->







<div class="footer-bottom">
  <i class="fa fa-copyright"></i> Copyright 2019. Todos os direitos reservados.<br>
  Tema por <a href="http://www.moozthemes.com">MOOZ Themes</a> e adaptado por
  <a href="authors.html">Júlia Carmona</a>
</div>