<aside>
  <!-- sidebar-widget -->
  <div class="sidebar-widget">
    <h3 class="sidebar-title">Quem escreve</h3>

    <div class="widget-container widget-about">
      <a href="authors.html"><img src="images/camila.png" alt=""></a>
      <h4>Camila Caixeta</h4>
      <div class="author-title">Engenheira de formação e curiosa de vocação</div>
      <p>
        Sou uma pessoa viciada em internet e em tudo relacionado a tecnologia. Estou sempre em busca de novidades e de aprender coisas novas (e, talvez, estranhas).
      </p>
    </div>

    <hr/>


    <div class="widget-container widget-about" style="margin-top: 10px;">
      <a href="authors.html"><img src="images/julia.jpg" alt=""></a>
      <h4>Júlia Carmona</h4>
      <div class="author-title">Desenvolvedora mineira com pé na estrada</div>
      <p>
        Nômade digital que ama tirar fotos e beber um bom café! Perrengueira de sucesso que quer conhecer o mundo. Procuro ganhar e compartilhar conhecimento pelo caminho.
      </p>
    </div>

  </div>
  <!-- sidebar-widget -->
  <div class="sidebar-widget">
    <h3 class="sidebar-title">Mais Populares</h3>
    <div class="widget-container">

      <article class="widget-post">
        <div class="post-image">
          <a href="01-vida-nomade-um-comeco.html"><img src="images/01/90x60.jpg" alt=""></a>
        </div>
        <div class="post-body">
          <h2><a href="01-vida-nomade-um-comeco.html">Vida Nômade - Um Começo</a></h2>
          <div class="post-meta">
            <span><i class="fa fa-clock-o"></i> 7 de Novembro 2017</span>
          </div>
        </div>
      </article>

      <article class="widget-post">
        <div class="post-image">
          <a href="02-conselhos-de-uma-desenvolvedora.html"><img src="images/02/90x60.jpg" alt=""></a>
        </div>
        <div class="post-body">
          <h2><a href="02-conselhos-de-uma-desenvolvedora.html">Conselhos de uma desenvolvedora de 19 anos</a></h2>
          <div class="post-meta">
            <span><i class="fa fa-clock-o"></i> 21 de Dezembro 2017</span>
          </div>
        </div>
      </article>

      <article class="widget-post">
        <div class="post-image">
          <a href="03-dicas-de-buenos-aires.html"><img src="images/03/90x60.jpg" alt=""></a>
        </div>
        <div class="post-body">
          <h2><a href="03-dicas-de-buenos-aires.html">Dicas de Buenos Aires que quase ninguém te fala!</a></h2>
          <div class="post-meta">
            <span><i class="fa fa-clock-o"></i> 30 de Novembro 2018</span>
          </div>
        </div>
      </article>

      <article class="widget-post">
        <div class="post-image">
          <a href="04-planejamento-financeiro-nomade.html"><img src="images/04/90x60.jpg" alt=""></a>
        </div>
        <div class="post-body">
          <h2>
            <a href="04-planejamento-financeiro-nomade.html">
              Como se organizar financeiramente para levar uma vida como nômade digital?
            </a>
          </h2>
          <div class="post-meta">
            <span><i class="fa fa-clock-o"></i> 15 de Janeiro 2019</span>
          </div>
        </div>
      </article>

      <article class="widget-post">
        <div class="post-image">
          <a href="05-vamos-conversar-sobre-you.html"><img src="images/05/90x60.jpg" alt=""></a>
        </div>
        <div class="post-body">
          <h2>
            <a href="05-vamos-conversar-sobre-you.html">
              Vamos conversar sobre "Você" (You)?
            </a>
          </h2>
          <div class="post-meta">
            <span><i class="fa fa-clock-o"></i> 22 de Janeiro 2019</span>
          </div>
        </div>
      </article>

      <article class="widget-post">
        <div class="post-image">
          <a href="06-como-organizar-uma-rotina.html"><img src="images/06/90x60.jpg" alt=""></a>
        </div>
        <div class="post-body">
          <h2>
            <a href="06-como-organizar-uma-rotina.html">
              Como organizar uma rotina sendo nômade digital?
            </a>
          </h2>
          <div class="post-meta">
            <span><i class="fa fa-clock-o"></i> 29 de Janeiro 2019</span>
          </div>
        </div>
      </article>

      <article class="widget-post">
        <div class="post-image">
          <a href="07-conheca-barra-grande.html"><img src="images/07/90x60.jpg" alt=""></a>
        </div>
        <div class="post-body">
          <h2>
            <a href="07-conheca-barra-grande.html">
              Já ouviu falar no paraíso chamado Barra Grande?
            </a>
          </h2>
          <div class="post-meta">
            <span><i class="fa fa-clock-o"></i> 13 de Fevereiro 2019</span>
          </div>
        </div>
      </article>

    </div>
  </div>
  <!-- sidebar-widget -->
  <div class="sidebar-widget">
    <h3 class="sidebar-title">Socials</h3>
    <div class="widget-container">
      <div class="widget-socials">
        <a href="https://www.instagram.com/entre_tais_coisas/"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <!-- sidebar-widget -->
  <div class="sidebar-widget">
    <h3 class="sidebar-title">Categorias</h3>
    <div class="widget-container">
      <ul>
        <li><a href="viagem.html">Viagem</a></li>
        <li><a href="tecnologia.html">Tecnologia</a></li>
        <li><a href="entretenimento.html">Entretenimento</a></li>
      </ul>
    </div>
  </div>
  </div>
</aside>