<article class="blog-post">
  <div class="blog-post-image">
    <a href="02-conselhos-de-uma-desenvolvedora.html"><img src="images/02/750x500.jpg" alt=""></a>
  </div>
  <div class="blog-post-body">
    <h2>
      <a href="02-conselhos-de-uma-desenvolvedora.html">
        Conselhos de uma desenvolvedora de 19 anos
      </a>
    </h2>
    <div class="post-meta">
      <span>por <a href="authors.html">Júlia Carmona</a></span>/
      <span><i class="fa fa-clock-o"></i>21 de Dezembro de 2017</span>
    </div>
    <p>Dentre os textos enviados pelo Medium para o meu email, o texto <a href="https://tinyurl.com/y9b65lb8">Advice From A 19 Year Old Girl & Software Developer</a> me chamou logo a atenção, e eu achei ele tão legal e útil que resolvi traduzir para o português as partes que mais me cativaram para disponibilizar para outras pessoas que se interessam pelo assunto, mas não leem em inglês. O texto original pode ser encontrado <a href="https://tinyurl.com/y9b65lb8">aqui.</a></p>
    <div class="read-more"><a href="02-conselhos-de-uma-desenvolvedora.html">Leia Mais</a></div>
  </div>
</article>
<!-- article -->

