<article class="blog-post">
  <div class="blog-post-image">
    <a href="04-planejamento-financeiro-nomade.html"><img src="images/04/750x500.jpg" alt=""></a>
  </div>
  <div class="blog-post-body">
    <h2>
      <a href="04-planejamento-financeiro-nomade.html">
         Como se organizar financeiramente para levar uma vida como nômade digital?
      </a>
    </h2>
    <div class="post-meta">
      <span>por <a href="authors.html">Júlia Carmona</a></span>/
      <span><i class="fa fa-clock-o"></i>15 de Janeiro de 2019</span>
    </div>
    <p>
      Quando eu comecei com essa ideia de virar nômade passei a ser assombrada pela palavra planejamento. Todos os lugares que eu buscava ou pessoas com quem eu conversava sempre repetiam a mesma frase "é preciso ter um bom planejamento...", eu precisava planejar de tudo: roteiros, gastos, tempo, etc... O problema é que eu não tinha a menor ideia de como fazer esses planejamentos, principalmente o planejamento financeiro e não é uma receitinha de bolo que a gente encontra fácil na internet. Uma das minhas principais dúvidas era se com o que eu ganhava na época seria suficientepara viver esse estilo de vida e se eu teria mesmo que juntar uma grana para ser meu backup nas viagens como muitas  pessoas relatavam.</i>
    </p>
    <div class="read-more"><a href="04-planejamento-financeiro-nomade.html">Leia Mais</a></div>
  </div>
</article>
<!-- article -->

<article class="blog-post">
  <div class="blog-post-image">
    <a href="03-dicas-de-buenos-aires.html"><img src="images/03/750x500.jpg" alt=""></a>
  </div>
  <div class="blog-post-body">
    <h2>
      <a href="03-dicas-de-buenos-aires.html">
        Dicas de Buenos Aires que quase ninguém te fala!
      </a>
    </h2>
    <div class="post-meta">
      <span>por <a href="authors.html">Júlia Carmona</a></span>/
      <span><i class="fa fa-clock-o"></i>30 de Novembro de 2018</span>
    </div>
    <p>Depois de morar praticamente 1 mês nas terrinhas Argentinas, passando perrengues e com um <i>portinnhol (português + inglês + espanhol)</i> bem mais ou menos, a gente aprende algumas coisinhas que podem ser fundamentais para deixar a viagem melhor. Abaixo está listado um pouquinho da minha experiência.</p>
    <div class="read-more"><a href="03-dicas-de-buenos-aires.html">Leia Mais</a></div>
  </div>
</article>
<!-- article -->

<article class="blog-post">
  <div class="blog-post-image">
    <a href="01-vida-nomade-um-comeco.html"><img src="images/01/750x500.jpg" alt=""></a>
  </div>
  <div class="blog-post-body">
    <h2>
      <a href="01-vida-nomade-um-comeco.html">
        Vida Nômade - Um Começo
      </a>
    </h2>
    <div class="post-meta">
      <span>por <a href="authors.html">Júlia Carmona</a></span>/
      <span><i class="fa fa-clock-o"></i>7 de Novembro de 2017</span>
    </div>
    <p>Desde pequena eu sempre tive esse sonho de conhecer o mundo e sempre amei conhecer lugares novos, e portanto, sempre que aparecia a oportunidade de viajar lá estava eu com minha mochilinha pronta. Uma vez, eu até subi num muro (literalmente, é sério) e recitei um poema para conseguir fazer uma viagem com a escola. O tempo foi passando e minha paixão por viagens só foi aumentando e recentemente fiz a escolha de me tornar nômade digital!</p>
    <div class="read-more"><a href="01-vida-nomade-um-comeco.html">Leia Mais</a></div>
  </div>
</article>
<!-- article -->
