<article class="blog-post">
  <div class="blog-post-image">
    <a href="05-vamos-conversar-sobre-you.html"><img src="images/05/750x500.jpg" alt=""></a>
  </div>
  <div class="blog-post-body">
    <h2>
      <a href="05-vamos-conversar-sobre-you.html">
         Vamos conversar sobre "Você" (You)?
      </a>
    </h2>
    <div class="post-meta">
      <span>por <a href="authors.html">Camila Caixeta</a></span>/
      <span><i class="fa fa-clock-o"></i>22 de Janeiro de 2019</span>
    </div>
    <p>
      Essa série estreou nos finais de 2018 e foi puro sucesso! Qualquer lugar que eu ia na web tinha posts, vídeos, tweets, notícias, etc... falando sobre ela. Mas o que que essa série tem de tão especial? Bom, <i>You</i> é uma série que foi exibida nos EUA no canal Lifetime em setembro de 2018, porém a Netflix comprou os direitos de reprodução tornando-a <i>original Netflix</i>. É uma adaptação do livro de mesmo nome escrito por Caroline Kepnes...
    </p>
    <div class="read-more"><a href="05-vamos-conversar-sobre-you.html">Leia Mais</a></div>
  </div>
</article>
<!-- article -->